---
import type { CollectionEntry } from 'astro:content';
import Layout from './Layout.astro';
import PostDate from '@components/PostDate.astro';

type Props = {
  post: CollectionEntry<'articles'> | CollectionEntry<'projects'>;
};

const { post } = Astro.props;
---

<style lang='scss'>
  @use 'include-media' as include;

  div {
    :global(img) {
      width: 100%;
    }

    p {
      font-weight: 700;
      font-size: 80%;
      line-height: 80%;
      display: flex;
      margin: 0;
      margin-bottom: 20px;
      gap: 5px;
    }
  }
</style>

<Layout title={post.data.title} description={post.data.description}>
  <div>
    <h1>{post.data.title}</h1>
    <p>
      <PostDate date={post.data.published} />
      {post.data.tags.map((x) => <span class='tag'>[{x}]</span>)}
    </p>
    <slot />
  </div>
</Layout>
