---
import type { BoxType } from '@utils/types';

type Props = {
  type: BoxType;
};
const { type } = Astro.props;
const [bgColor, borderColor, emoji] = (
  {
    neutral: ['#f9f9f9', '#e5e5e5', '🦝'],
    info: ['#edf4ff', '#bed9ff', '🗣️'],
    warning: ['#f9f9f9', '#e5e5e5', '⚠️'],
    error: ['#f9f9f9', '#e5e5e5', '⛔'],
  } as Record<BoxType, [string, string, string]>
)[type];

const wrapperStyle = {
  display: 'flex',
  flexDirection: 'row',
  background: bgColor,
  border: `1px solid ${borderColor}`,
  borderRadius: '4px',
  padding: '10px 15px',
  gap: '5px',
} as CSSStyleDeclaration;

const iconStyle = {
  fontSize: '25px',
  color: 'black',
} as CSSStyleDeclaration;

const contentStyle = {
  minWidth: '0',
} as CSSStyleDeclaration;
---

<div style={wrapperStyle}>
  <div style={iconStyle}>{emoji}</div>
  <div style={contentStyle}><slot /></div>
</div>
